<header class="relative bg-cover bg-center h-[70vh] w-full text-white" style="background-image: url('<%= asset_path('landing.jpeg') %>');">
  <div class="absolute inset-0 bg-black bg-opacity-65"></div>
  <div class="relative container mx-auto h-full flex items-center px-4 sm:px-6 md:px-8 lg:px-12 justify-center">  
    <div class="max-w-lg">
      <div class="flex items-center space-x-2 mb-4 justify-center">
        <span class="w-2 h-2 bg-white rounded-full"></span>
        <span class="w-1/12 h-0.5 bg-white"></span>
        <span class="text-white uppercase tracking-widest font-mulish">My Programs</span>
      </div>
      <h1 class="text-37px lg:text-50px font-libre font-bold leading-tight mb-4">
        Complete set of programs designed to help people having mental issues.
      </h1>
    </div>
  </div>
</header>


<div class="bg-programs-cream py-12 mb-12">
  <div class="container mx-auto px-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
    
    <!-- programs_four_columns Left -->
    <section class="programs_four_columns_left text-center">
      <i style="font-size: 2rem;" class="text-brown-text fa fa-money text-2xl mb-4 p-4 rounded-full bg-white" aria-hidden="true"></i>
      <div class="space-y-2">
        <p><span class="font-bold">Financial Struggles?</span></p>
        <p>Discover effective strategies for managing your finances and overcoming financial challenges with confidence.</p>
      </div> 
    </section>

    <!-- programs_four_columns Middle Left -->
    <section class="programs_four_columns_middle_left text-center">
      <i style="font-size: 2rem;" class="text-brown-text fa fa-flag-checkered text-2xl mb-4 p-4 rounded-full bg-white" aria-hidden="true"></i>
      <div class="space-y-2">
        <p><span class="font-bold">Need a Goal?</span></p>
        <p>Set clear and achievable goals to guide your personal and professional growth, and stay motivated to reach them.</p>
      </div>
    </section>

    <!-- programs_four_columns Middle Right -->
    <section class="programs_four_columns_middle_right text-center">
      <i style="font-size: 2rem;" class="text-brown-text fa fa-thumbs-down text-2xl mb-4 p-4 rounded-full bg-white" aria-hidden="true"></i>
      <div class="space-y-2">
        <p><span class="font-bold">Feeling Low?</span></p>
        <p>Learn coping mechanisms and techniques to boost your mood and improve your mental health and well-being.</p>
      </div>
    </section>

    <!-- programs_four_columns Right -->
    <section class="programs_four_columns_right text-center">
      <i style="font-size: 2rem;" class="text-brown-text fa fa-heart text-2xl mb-4 p-4 rounded-full bg-white" aria-hidden="true"></i>
      <div class="space-y-2">
        <p><span class="font-bold">Love Problems?</span></p>
        <p>Receive guidance on navigating romantic relationships, resolving conflicts, and building a strong, healthy connection.</p>
      </div>
    </section>
  </div>
</div>


<div class="programs_list px-4 pt-6 md:px-8 lg:px-16 mb-12">
  <div class="flex items-center space-x-2">
    <span class="w-2 h-2 bg-dark-brown-bg rounded-full"></span>
    <span class="w-1/12 h-px bg-dark-brown-bg"></span>
    <span class="uppercase text-brown-text tracking-widest font-mulish text-sm font-bold">Pick a program</span>
  </div>

  <div class="blog_post_title flex flex-col lg:flex-row items-start lg:items-center space-y-4 lg:space-y-0 lg:space-x-4 mb-6">
    <h2 class="text-xl md:text-2xl lg:text-3xl font-libre font-bold lg:w-1/2">
      Magical & Inspirational lessons for people facing mental stress.
    </h2>
    <div class="lg:w-1/2 border-l-4 border-brown-text rounded-l-lg py-2">
      <p class="text-base text-gray-500 px-4 lg:pl-6  rounded-l-lg">
        Our program offers a unique blend of magical and inspirational lessons designed to help individuals cope with mental stress. We provide practical techniques and emotional support to empower you to overcome challenges and lead a more fulfilling life.
      </p>
      <p class="mt-4 px-4">Need a business program? <a class="text-brown-text font-bold" href="#">Get In Touch</a> with me.</p>
    </div>
  </div>

  <!-- Programs Section -->
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 lg:px-4vw">
    <!-- Program Card 1 -->
    <div class="bg-white shadow-lg rounded-lg overflow-hidden">
      <%= image_tag 'speaking_to_a_couple.jpg', alt: "Dating and Relationships", class: "w-full h-[220px] object-cover" %>
      <div class="p-6">
        <h3 class="text-xl font-semibold text-gray-800 mb-2">Dating and Relationships</h3>
        <p class="text-gray-600 mb-4">Life-changing sessions for adults, no matter what age group they belong to.</p>
        <div class="flex items-center space-x-2 text-dark-brown-bg justify-between">
          <a href="#" class="font-semibold hover:underline text-brown-text">Read More</a>
          <i class="fa fa-arrow-right p-1 text-white bg-dark-brown-bg rounded-full mr-2" aria-hidden="true"></i>
        </div>
      </div>
    </div>

    <!-- Program Card 2 -->
    <div class="bg-white shadow-lg rounded-lg overflow-hidden">
      <%= image_tag 'grief_and_sorrow.jpeg', alt: "Grief and sorrow", class: "w-full h-[220px] object-cover" %>
      <div class="p-6">
        <h3 class="text-xl font-semibold text-gray-800 mb-2">Grief & Loss Counseling</h3>
        <p class="text-gray-600 mb-4">Supportive sessions for navigating the challenging times of grief and loss.</p>
        <div class="flex items-center space-x-2 text-dark-brown-bg justify-between">
          <a href="#" class="font-semibold hover:underline text-brown-text">Read More</a>
          <i class="fa fa-arrow-right p-1 text-white bg-dark-brown-bg rounded-full mr-2" aria-hidden="true"></i>
        </div>
      </div>
    </div>

    <!-- Program Card 3 -->
    <div class="bg-white shadow-lg rounded-lg overflow-hidden">
      <%= image_tag 'self_esteem_therapy.jpg', alt: "Slef esteem therapy", class: "w-full h-[220px] object-cover" %>
      <div class="p-6">
        <h3 class="text-xl font-semibold text-gray-800 mb-2">Self Esteem Therapy</h3>
        <p class="text-gray-600 mb-4">Empowering sessions to boost self-esteem and build confidence.</p>
        <div class="flex items-center space-x-2 text-dark-brown-bg justify-between">
          <a href="#" class="font-semibold hover:underline text-brown-text">Read More</a>
          <i class="fa fa-arrow-right p-1 text-white bg-dark-brown-bg rounded-full mr-2" aria-hidden="true"></i>
        </div>
      </div>
    </div>

    <!-- Program Card 4 -->
    <div class="bg-white shadow-lg rounded-lg overflow-hidden">
      <%= image_tag 'mother_holding_child.jpg', alt: "Kids and Family", class: "w-full h-[220px] object-cover" %>
      <div class="p-6">
        <h3 class="text-xl font-semibold text-gray-800 mb-2">Kids and Family</h3>
        <p class="text-gray-600 mb-4">Join our life-changing sessions designed to strengthen family bonds and enhance the well-being of children and adults alike.</p>
        <div class="flex items-center space-x-2 text-dark-brown-bg justify-between">
          <a href="#" class="font-semibold hover:underline text-brown-text">Read More</a>
          <i class="fa fa-arrow-right p-1 text-white bg-dark-brown-bg rounded-full mr-2" aria-hidden="true"></i>
        </div>
      </div>
    </div>

    <!-- Program Card 5 -->
    <div class="bg-white shadow-lg rounded-lg overflow-hidden">
      <%= image_tag 'future_planning.jpg', alt: "Future planning", class: "w-full h-[220px] object-cover" %>
      <div class="p-6">
        <h3 class="text-xl font-semibold text-gray-800 mb-2">Life & Future Planning</h3>
        <p class="text-gray-600 mb-4">Discover supportive sessions that help you navigate life transitions and plan a secure future with confidence.</p>
        <div class="flex items-center space-x-2 text-dark-brown-bg justify-between">
          <a href="#" class="font-semibold hover:underline text-brown-text">Read More</a>
          <i class="fa fa-arrow-right p-1 text-white bg-dark-brown-bg rounded-full mr-2" aria-hidden="true"></i>
        </div>
      </div>
    </div>

    <!-- Program Card 6 -->
    <div class="bg-white shadow-lg rounded-lg overflow-hidden">
      <%= image_tag 'old_peope_therapy.jpg', alt: "Old people therapy", class: "w-full h-[220px] object-cover" %>
      <div class="p-6">
        <h3 class="text-xl font-semibold text-gray-800 mb-2">Old Age Therapy</h3>
        <p class="text-gray-600 mb-4">Participate in empowering sessions aimed at boosting self-esteem and building confidence among seniors.</p>
        <div class="flex items-center space-x-2 text-dark-brown-bg justify-between">
          <a href="#" class="font-semibold hover:underline text-brown-text">Read More</a>
          <i class="fa fa-arrow-right p-1 text-white bg-dark-brown-bg rounded-full mr-2" aria-hidden="true"></i>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="practice flex flex-col lg:flex-row items-stretch justify-center pb-24 px-4 pt-6 md:px-8 lg:px-12 pt-12 relative bg-cover bg-center w-full">
  <div class="absolute inset-0 bg-opacity-75 z-0"></div>
  
  <div class="relative z-10 left w-full lg:w-1/2 p-4 flex flex-col justify-center">
    <div class="flex items-center space-x-2 mb-4">
      <span class="w-2 h-2 bg-dark-brown-bg rounded-full"></span>
      <span class="w-1/12 h-px bg-dark-brown-bg"></span>
      <span class="uppercase tracking-widest font-mulish text-brown-text">Frequently Asked Questions</span>
    </div>
    <h2 class="text-2xl md:text-3xl lg:text-4xl font-bold mb-4">Have questions? Get in touch or look at the FAQ section.</h2>
    <p class="text-base md:text-lg lg:text-xl mb-6">Find answers to common questions about our services, policies, and more. If you have any other queries, feel free to get in touch with us directly.</p>
    <p>Have more questions in mind? <a href="#" class=" text-brown-text underline">Get In Touch</a> with me.</p>
  </div>

  <div class="relative z-10 right w-full lg:w-1/2 p-4 flex flex-col space-y-4 mt-8 lg:mt-0">
    <div class="faq-section flex flex-col divide-y divide-gray-300">
      <details class="py-2">
        <summary class="cursor-pointer text-brown-text text-lg font-semibold focus:underline">What services do you offer?</summary>
        <div class="px-4 pb-4 text-gray-600">
          <p>We offer a range of psychological services including individual therapy, couples counseling, family therapy, and group therapy. Our services are designed to support mental health and well-being for individuals of all ages.</p>
        </div>
      </details>
      <details class="py-2">
        <summary class="cursor-pointer text-brown-text text-lg font-semibold focus:underline">How do I book an appointment?</summary>
        <div class="px-4 pb-4 text-gray-600">
          <p>You can book an appointment by calling our office at 0788345647 or by visiting our website and using the online booking system. We will confirm your appointment via email or phone.</p>
        </div>
      </details>
      <details class="py-2">
        <summary class="cursor-pointer text-brown-text text-lg font-semibold focus:underline">What can I expect during my first session?</summary>
        <div class="px-4 pb-4 text-gray-600">
          <p>During your first session, we will discuss your reasons for seeking therapy and gather some background information. This will help us understand your needs and work with you to develop a treatment plan.</p>
        </div>
      </details>
      <details class="py-2">
        <summary class="cursor-pointer text-brown-text text-lg font-semibold focus:underline">Do you offer online therapy?</summary>
        <div class="px-4 pb-4 text-gray-600">
          <p>Yes, we offer online therapy sessions for clients who prefer or require remote services. Online therapy provides the same level of care as in-person sessions and can be conducted via video call.</p>
        </div>
      </details>
      <details class="py-2">
        <summary class="cursor-pointer text-brown-text text-lg font-semibold focus:underline">How confidential is my therapy?</summary>
        <div class="px-4 pb-4 text-gray-600">
          <p>Your confidentiality is of utmost importance to us. All sessions and records are kept confidential, and we adhere to strict privacy policies. Exceptions to confidentiality occur only in situations where there is a risk of harm to yourself or others.</p>
        </div>
      </details>
      <details class="py-2">
        <summary class="cursor-pointer text-brown-text text-lg font-semibold focus:underline">What are your fees?</summary>
        <div class="px-4 pb-4 text-gray-600">
          <p>Our fees vary depending on the type and length of service. Please contact our office at 0788345647 or visit our website for detailed information on our fee structure and any available sliding scale options.</p>
        </div>
      </details>
      <details class="py-2">
        <summary class="cursor-pointer text-brown-text text-lg font-semibold focus:underline">How can I contact you for more information?</summary>
        <div class="px-4 pb-4 text-gray-600">
          <p>If you have any questions or need more information, please feel free to contact us at 0788345647 or email us at <a href="mailto:example@gmail.com" class="underline">info@unburden.com</a>. We are here to help and support you.</p>
        </div>
      </details>
    </div>
  </div>
</div>